body
{

background-color:#626262;
font-family: 'Slabo 27px', serif;
font-size:18px;
color:#E0E0E0;
margin: 0;
}

#upper
{
width: 1000px;
margin-left: auto;
margin-right: auto;


}

#menu
{

background-color: black;
margin-top: 0px;
color:azure;
padding: 15px;
}
#time
{
	float: left;
	margin: 10px;
	padding: 5px;
}
.option
{
color:gray;
float: left;
padding: 5px;
margin: 10px;

}
.option:hover
{

color:#9bbb42;
cursor: pointer;

}

#clearboth
{

clear: both;

}



