body
{

background-color:#626262;
font-family: 'Slabo 27px', serif;
font-size:18px;
color:#E0E0E0;
margin: 0;
    

}
h3
{
	color:blue;
	font-size:30px;
	
}
h2
{
	color:red;
	font-size:25px;
	
}
#upper
{
width: 1000px;
margin-left: auto;
margin-right: auto;


}